{% extends "musics/base.html" %}
{% load static %}


{% block conteudo %}

<form data-idMusic="{{ song.id }}" method="POST">

  <fieldset>
    <legend> {{ message }}</legend>

    {% csrf_token %}

    {{ form.as_p }}

    <div class='buttons'>

      <button class="btnSubmit" type="submit">Salvar</button>
      {% if song.id is not null %}
      <button class="btnDelete" type="button">Apagar</button>
      {% endif %}

    </div>
  </fieldset>
</form>

{% endblock conteudo %}

{% block script %}
<script src=" {% static 'javascript/form.js' %}"></script>
{% endblock script %}