{% extends "musics/base.html" %}
{% load static %}

{% block conteudo %}
<form method="POST">
  {% csrf_token %}

  {{ form.as_p }}

  <button type="submit">Salvar</button> <br>
  {% if song.id is not null %}
  <a href=" {% url 'url_delete_song' song.id %} ">Apagar</a> <br>

  <a href=" {% url 'url_home' %} ">Voltar para home</a><br>
  {% endif %}
</form>

{% endblock conteudo %}

{% block title %} Music {% endblock title %}

{% block script %}
<script src=" {% static 'javascript/form.js' %}"></script>
{% endblock script %}