{% extends "musics/base.html" %}
{% load static %}

{% block conteudo %}
<div>
    <table>

        <caption>Artistas cadastrados no Admin</caption>

        <tbody>
            <tr>
                <th>Artista</th>
                <th>Entrou na Oni em</th>
            </tr>
            {% for artist in artists %}
            <tr class="tr-artist" data-id="{{ artist.id }}">
                <td>{{ artist.name }}</td>
                <td>{{ artist.date_joined }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock conteudo %}


{% block script %}
<script src=" {% static 'javascript/home.js' %}"></script>
{% endblock script %}