{% extends "musics/base.html" %}
{% load static %}

{% block conteudo %}
<div class="geral">
    
    <table>
        <tbody>

            <tr>
                <th>Music</th>
                <th>Minutes</th>
                <th>No Spotify</th>
                <th>No YouTube</th>
            </tr>

            {% for key, value in musics.items %}

            <tr class="musics" data-id="{{ value.id}}">
                <td> {{ value.title}}</td>
                <td class="minutes">{{ value.duration}}</td>
                <td class="publicado">{{ value.spotify}}</td>
                <td class="publicado" > {{ value.youtube }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
    
</div>
{% endblock conteudo %}

{% block title %} Musics {% endblock title %}

{% block script %}
<script src=" {% static 'javascript/musics.js' %}"></script>
{% endblock script %}